<script setup lang="ts">
import { useMessageStore } from "@/stores/message";
const MessageStore = useMessageStore();
</script>
<template>
  <div class="text-center ma-2">
    <v-snackbar v-model="MessageStore.isShow" :timeout="MessageStore.timeout">
      {{ MessageStore.message }}

      <template v-slot:actions>
        <v-btn color="pink" variant="text" @click="MessageStore.closeMessage">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
